.Rproj.user
.Rhistory
.RData
.DS_Store

gulp-assets/dash-core-components/
gulp-assets/dash-html-components/
gulp-assets/dash-bootstrap-components/
gulp-assets/dash-table/
gulp-assets/dash/
node_modules/
python/
__pycache__/
todo.txt
r-finance*
build/
